n8n/empresa-research-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "empresa-research",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "86ea7ff9-442a-45b2-945d-a294dff9b68f",
      "name": "Webhook",
      "webhookId": "d36b7798-9570-4cce-aaf6-696bd0716133"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n        \"success\": true,\n        \"message\": \"Análise iniciada com sucesso\",\n        \"empresa\": \"={{ $('Edit Fields').item.json['\"empresa\"'] }}\",\n        \"documentUrl\": \"https://docs.google.com/document/d/{{ $('Google Docs').item.json.id }}/edit\",\n        \"documentId\": \"={{ $('Google Docs').item.json.id }}\",\n        \"timestamp\": \"={{ $('Edit Fields').item.json['\"timestamp\"'] }}\"\n      }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1540,
        0
      ],
      "id": "ff9b5364-13ae-46b1-aec8-f505fe8ee57e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31c0b619-a3a5-4178-93af-b3611c5dbf51",
              "name": "\"empresa\"",
              "value": "={{ $json.body.empresa }}",
              "type": "string"
            },
            {
              "id": "9eb60aab-fdbb-48e8-8946-a065086011f1",
              "name": "\"timestamp\"",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "7c500e36-9cd0-43ab-bea6-71a09c12692c",
              "name": "\"documentTitle\"",
              "value": "=Análise -  {{ $json.body.empresa }} - {{ $now.format('DD HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "98a2be06-f408-4c5d-9f7f-77bae149bae4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f47ec9a-ea12-4960-8633-f358c73f7975",
              "name": "geminiAnalysis",
              "value": "=={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "312d859b-3ff4-49e1-884e-13659a70d42b",
              "name": "empresa",
              "value": "={{ $('Edit Fields').item.json.empresa }}",
              "type": "string"
            },
            {
              "id": "ab0c82f3-e2ae-476f-98ad-e6725099b72a",
              "name": "documentTitle",
              "value": "={{ $('Edit Fields').item.json.documentTitle }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        0
      ],
      "id": "9a5df26d-1e3c-44a6-b32f-8068c66b5059",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "driveId": "=myDrive",
        "folderId": "={{ $json.id }}",
        "title": "={{ $('Edit Fields').item.json['\"documentTitle\"'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1180,
        0
      ],
      "id": "73687994-9507-4691-b164-897b794c29e8",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "dNyd2iiB0dSWoQpl",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=# Análise de Empresa - {{ $('Edit Fields').item.json.empresa }}\\n\\n**Data da Análise:** {{ $now.format('DD HH:mm:ss') }}\\n**Gerado por:** Sistema Automatizado de Investment Banking\\n\\n---\\n\\n{{ $('Edit Fields1').item.json.geminiAnalysis }}\\n\\n---\\n\\n**Disclaimers:**\\n- Esta análise foi gerada automaticamente\\n- Os dados podem estar desatualizados\\n- Recomenda-se verificação manual para decisões de investimento\\n- Este documento é para fins informativos apenas\\n\\n*Powered by n8n + Claude AI*"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1360,
        0
      ],
      "id": "788247b4-160d-4c6b-b913-389b9f01a955",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "dNyd2iiB0dSWoQpl",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyDJMc2Ucinf6Zn7aRUO5AJHBhIxRHf9lEE",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ $json.contents }}"
            },
            {
              "name": "generationConfig",
              "value": "={{ $json.generationConfig[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "229e38ca-c925-4b57-a674-429628c67f53",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74b68604-4064-412f-b208-2e0ffb25975b",
              "name": "contents",
              "value": "={{   [         {           \"parts\": [             {               \"text\": \"Você é um analista sênior de Investment Banking especializado no mercado brasileiro de capitais. Preciso de uma análise profissional e detalhada sobre a empresa '\"+ $json['\"empresa\"']+ \"'.\\n\\n## INSTRUÇÕES ESPECÍFICAS:\\n- Foque APENAS em empresas brasileiras de capital aberto (listadas na B3)\\n- Use linguagem técnica apropriada para profissionais de IB\\n- Seja factual e preciso com dados financeiros\\n- Indique claramente quando informações estão desatualizadas\\n- Se a empresa não for brasileira/pública, informe imediatamente\\n- Pesquise na internet para buscar informações atualizadas sobre a empresa\\n -Busque 2-3 noticias recentes sobre a empresa, inclua o título da noticia e o link para a materia original \\n\\n## ESTRUTURA OBRIGATÓRIA:\\n\\n### 📊 RESUMO EXECUTIVO\\n**Setor:** [Classificação setorial B3]\\n**Ticker:** [Código de negociação]\\n**Status:** [Ativo/Suspenso/etc]\\n**Market Cap:** [Se disponível]\\n\\n### 🏢 PERFIL CORPORATIVO\\n**Fundação:** [Ano e contexto]\\n**Sede:** [Localização]\\n**Principais Atividades:** [Core business detalhado]\\n**Posicionamento:** [Market share, ranking setorial]\\n**Modelo de Negócio:** [Revenue streams principais]\\n\\n### 📈 INDICADORES FINANCEIROS (Últimos dados disponíveis)\\n**Preço da Ação:** [Valor e data]\\n**Variação 52 semanas:** [Min/Max]\\n**Volume médio:** [Se disponível]\\n**P/L:** [Se aplicável]\\n**ROE:** [Se disponível]\\n**Dividend Yield:** [Se aplicável]\\n\\n### 📰 ÚLTIMAS NOTÍCIAS RELEVANTES (2-3 mais recentes)\\nPara cada notícia:\\n**[Data] - Título**\\n- Resumo: [2-3 linhas sobre impacto nos negócios]\\n- Relevância: [Alta/Média/Baixa para investidores]\\n- Fonte: [Se disponível]\\n\\n### 🎯 ANÁLISE TÉCNICA\\n**Pontos Fortes:**\\n- [3-4 pontos específicos]\\n\\n**Riscos Identificados:**\\n- [3-4 riscos setoriais/específicos]\\n\\n**Catalisadores Potenciais:**\\n- [Próximos eventos relevantes]\\n\\n### 🔮 OUTLOOK\\n**Perspectiva Trimestral:** [Próximo trimestre]\\n**Perspectiva Anual:** [12 meses]\\n**Consenso de Mercado:** [Se houver informação disponível]\\n\\n### 📰 NOTÍCIAS\\n**Titulo da Notícia:** \\n**Descricão da Notícia:** \\n**Link da Notícia:**\\n\\n## AVISOS IMPORTANTES:\\n- Dados podem estar desatualizados\\n- Não constitui recomendação de investimento\\n- Verificar informações em fontes oficiais\\n- Para uso informativo apenas\\n\\n---\\n*Análise gerada por IA - Validação manual recomendada*\"             }           ]         }       ] }}",
              "type": "array"
            },
            {
              "id": "11f406b1-7cfa-43c4-9aa4-ad611699aff6",
              "name": "generationConfig",
              "value": "={{ [{         \"temperature\": 0.3,         \"maxOutputTokens\": 2048,         \"topP\": 0.8,         \"topK\": 40       }] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "af1a6685-d118-4a44-8d1b-131878de20cd",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models?key=AIzaSyDJMc2Ucinf6Zn7aRUO5AJHBhIxRHf9lEE",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        240
      ],
      "id": "8e1ad557-59ee-498c-b165-704ddf4776f4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Edit Fields').item.json['\"empresa\"'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1H2kob3X-wW5IUp2C11yngi4_zplU6hT-",
          "mode": "list",
          "cachedResultName": "projetoEstagio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1H2kob3X-wW5IUp2C11yngi4_zplU6hT-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1000,
        0
      ],
      "id": "97de815a-efc1-42c7-a06e-2dd8ded95a83",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "er9TRIusJqfNFnKf",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "710d9d0e-68a4-48cd-b6f6-42f7e521a196",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f703af88e39c1bdf94c33361d2b3287ee191ca47808bb38bf2428e19901c623a"
  },
  "id": "J5XzbIICEwZTFscv",
  "tags": []
}