n8n/My_workflow_Atual.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "empresa-research",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "86ea7ff9-442a-45b2-945d-a294dff9b68f",
      "name": "Webhook",
      "webhookId": "d36b7798-9570-4cce-aaf6-696bd0716133"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n        \"success\": true,\n        \"message\": \"Análise iniciada com sucesso\",\n        \"empresa\": \"={{ $('Edit Fields').item.json['\"empresa\"'] }}\",\n        \"documentUrl\": \"https://docs.google.com/document/d/{{ $('Google Docs').item.json.id }}/edit\",\n        \"documentId\": \"={{ $('Google Docs').item.json.id }}\",\n        \"timestamp\": \"={{ $('Edit Fields').item.json['\"timestamp\"'] }}\"\n      }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2040,
        0
      ],
      "id": "ff9b5364-13ae-46b1-aec8-f505fe8ee57e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31c0b619-a3a5-4178-93af-b3611c5dbf51",
              "name": "\"empresa\"",
              "value": "={{ $json.body.empresa }}",
              "type": "string"
            },
            {
              "id": "9eb60aab-fdbb-48e8-8946-a065086011f1",
              "name": "\"timestamp\"",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "7c500e36-9cd0-43ab-bea6-71a09c12692c",
              "name": "\"documentTitle\"",
              "value": "=Análise -  {{ $json.body.empresa }} - {{ $now.format('DD HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "98a2be06-f408-4c5d-9f7f-77bae149bae4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f47ec9a-ea12-4960-8633-f358c73f7975",
              "name": "geminiAnalysis",
              "value": "=={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "312d859b-3ff4-49e1-884e-13659a70d42b",
              "name": "empresa",
              "value": "={{ $('Edit Fields').item.json.empresa }}",
              "type": "string"
            },
            {
              "id": "ab0c82f3-e2ae-476f-98ad-e6725099b72a",
              "name": "documentTitle",
              "value": "={{ $('Edit Fields').item.json.documentTitle }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        0
      ],
      "id": "9a5df26d-1e3c-44a6-b32f-8068c66b5059",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "driveId": "=myDrive",
        "folderId": "={{ $json.id }}",
        "title": "={{ $('Edit Fields').item.json['\"documentTitle\"'] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1680,
        0
      ],
      "id": "73687994-9507-4691-b164-897b794c29e8",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "dNyd2iiB0dSWoQpl",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Edit Fields1').item.json.geminiAnalysis }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1860,
        0
      ],
      "id": "788247b4-160d-4c6b-b913-389b9f01a955",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "dNyd2iiB0dSWoQpl",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyDJMc2Ucinf6Zn7aRUO5AJHBhIxRHf9lEE",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ $('Edit Fields2').item.json.contents }}"
            },
            {
              "name": "generationConfig",
              "value": "={{ $('Edit Fields2').item.json.generationConfig[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        0
      ],
      "id": "229e38ca-c925-4b57-a674-429628c67f53",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74b68604-4064-412f-b208-2e0ffb25975b",
              "name": "contents",
              "value": "={{   [         {           \"parts\": [             {               \"text\": \"Você é um analista sênior de Investment Banking especializado no mercado brasileiro de capitais.Você receberá dados, que devem ser analisados e tratados, sobre uma empresa brasileira listada na B3, incluindo:\\n1. **Dados Sobre a empresa** - Informações sobre a empresa\\n2. **Dados de Cotação** (formatacaoQuote) - Informações financeiras e de mercado\\n3. **Dados de Notícias** (formatacaoNews) - Notícias recentes sobre a empresa \\n---\\n\\n## DADOS RECEBIDOS:\\n ### 📊 INFORMAÇÕES DE COTAÇÃO:\\n '\"+ $json.formatacaoQuote + \"' \\n ### 📰 NOTÍCIAS COLETADAS: \\n '\"+ $json.formatacaoNews + \"'\\n\\n---\\n\\n## INSTRUÇÕES DE PROCESSAMENTO:\\n\\n### 🔍 Análise das Notícias:\\n1. Avalie TODAS as notícias fornecidas no array articles\\n2. Selecione as 3 MAIS RELEVANTES baseado nos critérios:\\n   - Impacto financeiro direto na empresa\\n   - Relevância operacional (resultados, projetos, mudanças estratégicas)\\n   - Atualidade (priorize notícias mais recentes)\\n   - Fonte confiável (InfoMoney, Valor, Reuters, etc.)\\n3. Descarte notícias sobre:\\n   - Mercado geral sem menção específica da empresa\\n   - Análises técnicas genéricas do Ibovespa\\n   - Notícias repetitivas ou similares\\n\\n### 📈 Análise da Cotação:\\n1. Extraia os dados mais relevantes do JSON de cotação\\n2. Calcule métricas importantes quando possível\\n3. Interprete os indicadores no contexto do mercado brasileiro\\n\\n---\\n\\n## ESTRUTURA OBRIGATÓRIA DO RELATÓRIO:\\n\\n# 📊 ANÁLISE EMPRESARIAL - {NOME_EMPRESA} ({TICKER})\\n\\n**Data da Análise:** {DATA_ATUAL}  \\n**Ticker:** {TICKER}  \\n**Razão Social:** {NOME_COMPLETO}  \\n---\\n\\n## 🏢 PERFIL CORPORATIVO\\n\\n**Fundação:** {Ano e contexto}\\n**Sede:** {Localização}\\n**Principais Atividades:** {Core business detalhado}\\n**Posicionamento:** {Market share, ranking setorial}\\n**Modelo de Negócio:** {Revenue streams principais}\\n\\n---\\n\\n## 💰 RESUMO FINANCEIRO\\n\\n**Preço Atual:** R$ {PRECO_ATUAL}  \\n**Variação Diária:** {VARIACAO_PERCENTUAL}% ({VARIACAO_ABSOLUTA})  \\n**Abertura:** R$ {PRECO_ABERTURA}  \\n**Máxima do Dia:** R$ {MAXIMA_DIA}  \\n**Mínima do Dia:** R$ {MINIMA_DIA}  \\n**Volume:** {VOLUME_FORMATADO}  \\n\\n**Variação 52 Semanas:** R$ {MIN_52S} - R$ {MAX_52S}  \\n**Market Cap:** R$ {MARKET_CAP_FORMATADO}  \\n**P/L:** {PE_RATIO}  \\n**LPA:** R$ {EARNINGS_PER_SHARE}  \\n\\n---\\n\\n## 📈 ANÁLISE DE PERFORMANCE\\n\\n### Contexto Atual\\n{ANÁLISE_DO_PREÇO_ATUAL_EM_RELAÇÃO_AOS_RANGES}\\n\\n### Indicadores Técnicos\\n{INTERPRETAÇÃO_DOS_MÚLTIPLOS_E_MÉTRICAS}\\n\\n---\\n\\n## 📰 NOTÍCIAS MAIS RELEVANTES\\n\\n### 🔥 Notícia 1: {TÍTULO_NOTÍCIA_1}\\n**Data:** {DATA_NOTÍCIA_1}  \\n**Link:** {LINK_NOTÍCIA_1}  \\n**Resumo:** {RESUMO_EXECUTIVO_2_3_LINHAS}  \\n**Impacto:** {ANÁLISE_DO_IMPACTO_PARA_INVESTIDORES}  \\n\\n### 📊 Notícia 2: {TÍTULO_NOTÍCIA_2}  \\n**Data:** {DATA_NOTÍCIA_2}  \\n**Link:** {LINK_NOTÍCIA_2}  \\n**Resumo:** {RESUMO_EXECUTIVO_2_3_LINHAS}  \\n**Impacto:** {ANÁLISE_DO_IMPACTO_PARA_INVESTIDORES}  \\n\\n### 💼 Notícia 3: {TÍTULO_NOTÍCIA_3}\\n**Data:** {DATA_NOTÍCIA_3}  \\n**Link:** {LINK_NOTÍCIA_3}  \\n**Resumo:** {RESUMO_EXECUTIVO_2_3_LINHAS}  \\n**Impacto:** {ANÁLISE_DO_IMPACTO_PARA_INVESTIDORES}  \\n\\n---\\n\\n## 🎯 ANÁLISE INTEGRADA\\n\\n### Síntese dos Dados\\n{COMBINE_INFORMAÇÕES_DE_COTAÇÃO_E_NOTÍCIAS_PARA_CRIAR_UMA_VISÃO_HOLÍSTICA}\\n\\n### Pontos de Atenção\\n- {RISCOS_IDENTIFICADOS_NAS_NOTÍCIAS}\\n- {OPORTUNIDADES_IDENTIFICADAS}\\n- {FATORES_TÉCNICOS_RELEVANTES}\\n\\n### Catalisadores Potenciais\\n- {EVENTOS_FUTUROS_MENCIONADOS_NAS_NOTÍCIAS}\\n- {MARCOS_TÉCNICOS_IMPORTANTES}\\n\\n---\\n\\n##!DISCLAIMERS\\n\\n- **Dados de Mercado:** Baseados na última sessão disponível\\n- **Notícias:** Selecionadas por relevância e impacto potencial  \\n- **Não é Recomendação:** Este documento é apenas informativo\\n- **Verificação:** Recomenda-se confirmação em fontes oficiais\\n- **Risco:** Todo investimento envolve riscos\\n\\n---\\n\\n**Relatório Gerado por:** Sistema Automatizado de Investment Banking  \\n**Modelo:** Gemini 1.5 Flash  \\n**Timestamp:** {TIMESTAMP_GERACAO}\\n\\n---\\n\\n## REGRAS CRÍTICAS:\\n\\n###**DEVE FAZER:**\\n- Usar APENAS dados fornecidos, excluindo a seção \\\"🏢 PERFIL CORPORATIVO\\\" que deve buscar informações sobre\\n- Formatar valores monetários em Real brasileiro (R$)\\n- Datar todas as informações adequadamente\\n- Focar em aspectos relevantes para Investment Banking\\n- Manter linguagem técnica e profissional\\n- Quantificar impactos quando possível\\n\\n###**NÃO DEVE FAZER:**\\n- Inventar dados não presentes\\n- Fazer recomendações de compra/venda\\n- Usar informações de fontes externas aos dados fornecidos\\n- Repetir notícias com conteúdo similar\\n- Incluir análises especulativas sem base nos dados\\n\\n### **CRITÉRIOS PARA SELEÇÃO DE NOTÍCIAS:**\\n\\n**Prioridade Alta:**\\n- Resultados trimestrais/anuais\\n- Dividendos e proventos\\n- Mudanças na gestão\\n- Grandes investimentos/desinvestimentos\\n- Aquisições/fusões\\n- Aprovações regulatórias importantes\\n\\n**Prioridade Média:**\\n- Análises de bancos de investimento\\n- Mudanças de rating\\n- Notícias setoriais específicas\\n- Parcerias estratégicas\\n\\n**Prioridade Baixa:**\\n- Notícias do mercado geral\\n- Análises técnicas do Ibovespa\\n- Comentários genéricos sobre o setor\\n\\n---\\n\\n## EXEMPLO DE FORMATAÇÃO DE VALORES:\\n\\n- **Monetary:** R$ 32,53 (não $32.53)\\n- **Percentage:** +2,46% (não 2.46%)\\n- **Volume:** 74,8 milhões (não 74819900)\\n- **Market Cap:** R$ 400,6 bilhões (não 400583262534)\\n\\n---\\n\\n**EXECUTE A ANÁLISE AGORA COM OS DADOS FORNECIDOS.** Caso os dados não aparecem de forma clara, apresente no final do documento como eles foram apresentados\"             }           ]         }       ] }}",
              "type": "array"
            },
            {
              "id": "11f406b1-7cfa-43c4-9aa4-ad611699aff6",
              "name": "=generationConfig",
              "value": "={{ [{         \"temperature\": 0.3,         \"maxOutputTokens\": 2048,         \"topP\": 0.8,         \"topK\": 40       }] }}",
              "type": "array"
            },
            {
              "id": "305a0600-d10c-4590-9b85-47dc2727c1c2",
              "name": "teste",
              "value": "={{ $json.formatacaoNews }}",
              "type": "string"
            },
            {
              "id": "1717a0e8-42bd-4bdc-9b76-024ad7cec2de",
              "name": "teste",
              "value": "={{ $json.formatacaoQuote }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        0
      ],
      "id": "af1a6685-d118-4a44-8d1b-131878de20cd",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models?key=AIzaSyDJMc2Ucinf6Zn7aRUO5AJHBhIxRHf9lEE",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        320
      ],
      "id": "8e1ad557-59ee-498c-b165-704ddf4776f4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Edit Fields').item.json['\"empresa\"'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1H2kob3X-wW5IUp2C11yngi4_zplU6hT-",
          "mode": "list",
          "cachedResultName": "projetoEstagio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1H2kob3X-wW5IUp2C11yngi4_zplU6hT-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1500,
        0
      ],
      "id": "97de815a-efc1-42c7-a06e-2dd8ded95a83",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "er9TRIusJqfNFnKf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "= https://brapi.dev/api/quote/{{ $('Edit Fields').item.json['\"empresa\"'] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=75n89yAs7bAXEnv3qhUmYG"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "9a618cb4-cdd0-41f0-8494-224528de3348",
      "name": "BRAPI-QUOTE"
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Edit Fields').item.json['\"empresa\"'] }}"
            },
            {
              "name": "language",
              "value": "=pt"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "apiKey",
              "value": "435135c72b464258b4f0d8ccff7906cf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ],
      "id": "c7197e56-a5ce-4313-9de1-9605d772106b",
      "name": "NEWSAPI-NEWS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cef7bd22-ee59-4379-b8cd-3a1265e6ee6d",
              "name": "formatacaoNews",
              "value": "={{ $json.articles }}",
              "type": "string"
            },
            {
              "id": "e334ec39-e94d-4ad7-bef7-25c30b2485a6",
              "name": "formatacaoQuote",
              "value": "={{ $('BRAPI-QUOTE').item.json.results }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        0
      ],
      "id": "492e7c9d-654a-484c-adf6-601299b33fa6",
      "name": "Edit Fields3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "BRAPI-QUOTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BRAPI-QUOTE": {
      "main": [
        [
          {
            "node": "NEWSAPI-NEWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NEWSAPI-NEWS": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e608c1c4-f1cb-4752-abad-5d737da39203",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f703af88e39c1bdf94c33361d2b3287ee191ca47808bb38bf2428e19901c623a"
  },
  "id": "J5XzbIICEwZTFscv",
  "tags": []
}